header {
    display: none;
}

button {
    display: none;
}

a {
    display: none;
}

#thanksBox {
    box-shadow: none;
}

#rightClick, #hold {
    display: none;
}

#qrCode {
    width: 70%;
    margin-top: 20%;
    margin-bottom: 10%;
}

#thanksInfo {
    width: 60%;
}