<!DOCTYPE html>
<html>
    <head>
        <title>Hantera besökare</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <figure><img alt='AV media logotyp' id='logo' src='{{url_for('static', filename='img/logotyp.png')}}'></figure>
            <a id='logOut' href="/logout/">Logga ut</a>

        <div id='menu'>
            <ul>
                <li><a href='/administrator/addexhibitor/'>Lägg till utställare</a></li>
                <li><a href='/administrator/listexhibitors/'>Hantera utställare</a></li>
                <li><a href='/administrator/listattendants/'>Hantera besökare</a></li>
            </ul>
        </div>
        </header>

    <div id='content'>
        <div id='allVisitors'>
            <h1>Hantera besökare</h1>
            <h4>Besökare: {{statistik['Besökare']}}</h4>
            <h3>Namn</h3><h3>Mail</h3><img id='mailIcon' src="{{url_for('static', filename='img/mail_icon.png')}}"><img id='trashIcon' src="{{url_for('static', filename='img/trash_icon.png')}}">
            <hr>
            <ol id='exhibitorList'>
                {% for attendant in attendants %}
                <li data-id="{{attendant.id}}"><p>{{attendant.first_name}}</p><p>{{attendant.email}}</p><img title="Skicka mail" class='listButton mail' src="{{url_for('static', filename='img/mail_button.png')}}"><img title="Ta bort utställare" class='listButton delete' src="{{url_for('static', filename='img/delete_button.png')}}"></li>
                {% endfor %}
            </ol>
            </div>
        </div>
        <script src="{{url_for('static', filename='jquery.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='sweetalert/dist/sweetalert.min.js')}}"></script>
        <script src="{{url_for('static', filename='admin.js')}}" type="text/javascript"></script>
    </body>
</html>
