<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Läromedelsmässan 2017 </title>
    <!--<link href="../static/style.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../static/styleinloggning.css" rel="stylesheet" type="text/css">-->
    <!--<script src="../static/inloggad.js" type="text/javascript"></script>-->
    <link href="{{url_for('static', filename='styleinloggning.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='styleanimations.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='inloggad.js')}}" type="text/javascript"></script>
</head>

<body>
    <header>

    </header>

    <section>
      <figure><img alt='AV media logotyp' id='logo' src='{{url_for('static', filename='img/logotyp.png')}}'></figure>

            <article id="aboutYou">
                    <div id="container">
                      <h3>Ändra lösenord</h3>
                      <form action="/glomt_losenord/{{wild_card}}" method="post" id ="logIn">
                        <label for="newpassword">Nytt lösenord:</label>
                        <input type="password" id="password1" name="password1" placeholder="Nytt lösenord">
                        <label for="password">Bekräfta lösenord:</label>
                        <input type="password" id="password2" name="password2" placeholder="Bekräfta lösenord">
                        <!--<input type="checkbox" name="remember"><label for="checkbox">Håll mig inloggad</label>-->

                        <input type="submit" value="Skicka">
                      </form>
                    </div>
                </article>
      </div>
      </div>
    </section>
</body>
</html>
