<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Läromedelsmässan 2017 </title>
    <link href="{{url_for('static', filename='styleinloggning.css')}}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>

    </header>

    <section>
      <figure><img alt='AV media logotyp' id='logo' src='{{url_for('static', filename='img/logotyp.png')}}'></figure>

            <article id="aboutYou">
                    <div id="container">

                        <p id="pwChanged">Ditt lösenord är nu bytt!</p>
                        <a id ="bkButton" href="/login/">Tillbaka till inloggningssidan</a>

                    </div>
                </article>
      </div>
      </div>
    </section>
</body>
</html>
