<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title> Läromedelsmässan 2017 </title>
    <link href="{{url_for('static', filename='styleinloggning.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='styleanimations.css')}}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>

    </header>

    <section>
      <figure><img alt='AV media logotyp' id='logo' src='{{url_for('static', filename='img/logotyp.png')}}'></figure>

            <article id="aboutYou">
                    <div id="container">
                      <h3>Logga in som utställare/admin</h3>
                      <form action="/login/" method="post" id ="logIn">
                        <label for="username">Email:</label>
                        <input type="text" id="username" name="username" placeholder="Email">
                        <p id="errorMessage1">Du har inte fyllt i en korrekt emailadress</p>
                        <label for="password">Lösenord:</label>
                        <input type="password" id="password" name="password" placeholder="Lösenord">
                        <p id="errorMessage2">Fyll i detta fält</p>
                        <p id="errorMessage3">Fel inloggningsuppgifter.</p>
                        <!--<input type="checkbox" name="remember"><label for="checkbox">Håll mig inloggad</label>-->
                        <input type="submit" value="Login">
                        <a href="/glomt_losenord/" id="forgottenID">Glömt lösenord?</a>
                      </form>
                    </div>
                </article>
      </div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<!-- Länkar in vår egna JavaScript-fil -->
        <script src="{{url_for('static', filename='inloggning.js')}}"></script>
</body>
</html>
