<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title> Läromedelsmässan 2017 </title>
    <link href="{{url_for('static', filename='styleinloggning.css')}}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>

    </header>

    <section>
      <figure><img alt='AV media logotyp' id='logo' src='{{url_for('static', filename='img/logotyp.png')}}'></figure>

            <article id="aboutYou">
                    <section id="containerNewPasswordSaved">
                      <p>Ditt nya lösenord har sparats.</p>
                      <a href="/utstallare/">Gå till startsidan</a>
                  </section>
                </article>
    </section>
</body>
</html>
