<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title> Läromedelsmässan 2017 </title>
    <link href="{{url_for('static', filename='styleinloggning.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='styleanimations.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='inloggning.js')}}" type="text/javascript"></script>
</head>

<body>
    <header>

    </header>

    <section>
      <figure><img alt='AV media logotyp' id='logo' src='{{url_for('static', filename='img/logotyp.png')}}'></figure>

            <article id="aboutYou">
                    <div id="container">
                      <h3>Ändra lösenord</h3>
                      <p>Eftersom att det är första gången du loggar in så behöver du ange ett nytt lösenord.</p>
                      <form action="/nytt_losenord/" method="post" id="newPasswordForm">
                        <label for="newPassword">Nytt lösenord:</label>
                        <input type="password" id="newPassword" name="password" placeholder="Lösenord">
                        <label for="password">Bekräfta lösenord:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Lösenord">
                        <p>Lösenorden stämmer inte överens.</p>
                        <input type="submit" value="Spara">
                      </form>
                    </div>
                </article>
    </section>
</body>
</html>
