<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Läromedelsmässan 2017 </title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='styleanimations.css')}}" rel="stylesheet" type="text/css">

    <script src="{{url_for('static', filename='jquery.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='register.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jqueryanimations.js')}}" type="text/javascript"></script>
</head>

<body>
    <header>
        <!--<h1> Anmälan läromedelsmässa 2017</h1>-->
    </header>

    <section>
        <div id="thanksBox">
            <div id="logoBackground">
                <img src="{{url_for('static', filename='img/logotyp.png')}}" alt="Läromässan 2017 logotyp" id="logo">
            </div>
            <hr id="thanksHr">
            <div id="startInfo">
                <h1>Dags att skriva in den 8 Mars i kalendern</h1>

                <p>På Läromedelsmässa 2017 möter du utställare med litteratur och teknik som uppmuntrar till moderna lärmiljöer.</p>
                <ul>
                    <li>12.30 - 14.00 Positivt ledarskap - en energikick, av Jim Thuresson</li>
                    <li>13.00 - 17.30 Utställning</li>
                    <li>13.00, 14.00, 15.00, 16.00 Seminarier</li>
                    <li>13.30 - 16.30 Fika serveras för alla anmälda</li>
                </ul>
                <p>I år arbetar vi på en digital anmälan för dig som besökare. Det ska underlätta för dig som besökare att delge dina kontaktuppgifter till de utställare du önskar få mer kontakt med.</p>
                <a href="http://massa.avmediaskane.se/anmalan"><button class="button">Anmäl dig</button></a>
                <a href="http://massa.avmediaskane.se/login"><button class="button">Logga in</button></a>
            </div>

        </div>
    </section>
</body>
</html>
